.navbar {
  display    : flex;
  height     : 100px;
  align-items: center;

  & .app-logo {
    flex       : 1;
    height     : 100px;
    margin-left: 10px;

    & img {
      height: 100px;
    }
  }

  & .nav-menubar {
    color       : #314230;
    font-size   : 15px;
    font-weight : 600;
    margin-right: 70px;
    z-index     : 1;

    & .menubar-wrapper {
      display         : flex;
      min-width       : 400px;
      border-radius   : 35px;
      align-items     : center;
      background-color: #f8ce46;
      padding         : 0 30px;

      & ul {
        display        : flex;
        cursor         : pointer;
        list-style-type: none;
        padding        : 0 20px;
        margin         : 0;

        & li.nav-item {
          display    : flex;
          height     : 32px;
          align-items: center;
          margin     : 0 10px;
          padding    : 15px 0px;

          & a.nav-link {
            color          : #314230;
            text-decoration: none;
          }
        }

        & li {
          display    : flex;
          height     : 32px;
          align-items: center;
          margin     : 0 10px;
          padding    : 15px 0px;
        }

        & .active {
          border-bottom: 2px solid #314230;
        }
      }

      & .divider {
        padding: 0;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .navbar {
    & .nav-menubar {
      display: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    float: right;

    & .app-logo {
      float: right;
    }
  }
}
