#wrapper {
  & app-sidenav {
    position: absolute;
    height  : 100%;
    right   : 0;
    z-index : 1;
  }

  & app-navbar {
    position: relative;
    top     : 0;
    width   : 100%;
  }

  & app-footer {
    position: fixed;
    display : flex;
    bottom  : 0;
    width   : 100%;
  }
}

@media only screen and (max-width: 600px) {
  app-sidenav {
    width  : 100%;
    z-index: 1;
  }

  app-footer {
    z-index: 2;
  }
}
